body{
    padding: 0;
    margin: 0;
}

.header{
    height: 80px;
    background-color: grey;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

a,ul{
    text-decoration: none;
}

li{
    list-style: none;
    margin-top: 30px;
    color: beige;
    font-size: 1.35em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.p-container{
    border: 3px solid red;
    margin-right: 50px;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh; /* Висота на весь екран */
}

img{
    height: 250px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: grey;
    color: beige;
    text-align: center;
}

.footer-p{
    margin-top: 30px;
    font-size: 1.35em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}